<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.malwarescanner">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />



    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.temaAplicacion"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerArchivo"
            android:exported="true"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".ListaSMS"
            android:exported="true"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".utils.FAQArchivo"
            android:exported="true"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".utils.FAQSMS"
            android:exported="true"
            android:parentActivityName=".ListaSMS">
        </activity>
        <activity
            android:name=".Settings"
            android:exported="true"
            android:parentActivityName=".MainActivity">
        </activity>
        <service android:name=".Services.ObtenerScanService" />
    </application>
</manifest>